@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-ExtraBold.otf");
	font-weight: 800;
}

* {
	margin: 0;
	padding: 0;

	position: relative;

	font-family: "Roboto", sans-serif;
}

h1 {
	margin-bottom: calc(100vw / 48);

	font-family: "Montserrat";
	font-size: 50pt;
	line-height: 50pt;
}

h2 {
	height: calc(100vw / 24 * 2);
	line-height: calc(100vw / 24 * 2);

	padding-left: calc(100vw / 48);

	font-family: "Gilroy";
	font-weight: 800;
	font-size: 25pt;
}

h3 {
	margin-bottom: calc(100vw / 48 / 2);

	font-family: "Gilroy";
	font-weight: 800;
	font-size: 18pt;
	line-height: 18pt;
}

p {
	margin-bottom: calc(100vw / 48 / 4);
	opacity: 0.7;
	font-size: 10pt;
}

p.black {
	opacity: 0.87;
	font-family: "Gilroy";
	font-weight: 800;
}

img {
	display: block;
}

/* Body */
body {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
}

/* Section lines */
nav::before,
#skills::before,
#skills::after,
#gallery::before {
	content: "";

	width: 1px;
	height: 100%;
	min-height: 100vh;

	background: #e6e6e6;

	position: absolute;
	top: 0;
}
nav::before,
#skills::after {
	right: 0;
}

/* Nav */
nav {
	grid-column-start: 1;
	grid-column-end: 1;
}

nav #logo {
	color: white;
	background: black;

	height: calc(100vw / 24);

	font-family: "Gilroy";
	font-weight: 800;
	font-size: 1.2vw;
	text-align: center;
	text-decoration: none;
	line-height: calc(100vw / 24);

	display: block;
}

/* Header */
header {
	grid-column-start: 2;
	grid-column-end: 9;

	padding-right: calc(100vw / 24);
}

header::after {
	right: 0;
}

header h1 {
	padding-left: calc(100vw / 48);
	margin-bottom: calc(100vw / 48);
}

header p,
h4 {
	padding-left: calc(100vw / 48);
}

header p:last-of-type {
	margin-bottom: calc(100vw / 48);
}

header #contact {
	display: flex;
}

header #contact div {
	width: 50%;

	padding-left: calc(100vw / 48);
	padding-right: calc(100vw / 48);

	text-align: right;
}

header #contact span {
	margin-bottom: calc(100vw / 48 / 4);
	opacity: 0.87;
	font-size: 11pt;
	display: block;
}

header #contact img {
	width: 50%;
}

/* Skills */
#skills {
	grid-column-start: 9;
	grid-column-end: 15;
}

#skills h3 {
	color: white;
	background: black;

	height: calc(100vw / 24 * 2);

	padding-left: calc(100vw / 48);
	margin: 0;

	display: flex;
	align-items: center;
}

#skills .skill {
	height: calc(100vw / 24);

	display: flex;
	justify-content: space-between;
}

#skills * {
	display: flex;
	align-items: center;
}

#skills .skill .name {
	padding-left: calc(100vw / 48);

	font-family: "Gilroy";
	font-weight: 800;
	font-size: 11pt;
}

#skills .skill .rating {
	width: calc(100vw / 24);

	text-align: center;
	font-family: "Gilroy";
	font-weight: 800;
	font-size: 11pt;
}

#skills .skill .rating::after {
	content: "/10";
}

#skills .skill::after {
	content: "";

	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	right: 0;

	background: #e6e6e6;
}

/* Proejcts */
#projects {
	grid-column-start: 15;
	grid-column-end: 25;
}

#projects .project {
	background: black;
	height: calc(100vw / 24 * 4);
	margin-bottom: calc(100vw / 48);
	margin-left: calc(100vw / 48);
	text-decoration: none;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#projects .project img {
	width: calc(100vw / 48 * 17);
}

#projects .project h3 {
	color: white;

	width: calc(100vw / 24 * 4);
	height: calc(100vw / 24);
	line-height: calc(100vw / 24);

	position: absolute;
	top: 0;
	right: calc(100vw / 48 * -9);

	padding-left: calc(100vw / 48);

	transform: rotate(90deg);
	transform-origin: 0% 0%;

	font-size: 11pt;
}

/* Gallery */
#gallery {
	grid-column-start: 9;
	grid-column-end: 25;
}

#gallery .item {
	margin-left: calc(100vw / 48);
	margin-right: calc(100vw / 24 * 2);
	margin-bottom: calc(100vw / 48);
	display: flex;
}

#gallery .item img {
	width: calc(100vw / 48 * 17);
}

#gallery .item .info {
	margin-left: calc(100vw / 48);
}

/* Adaptivity */
@media screen and (max-width: 1920px) {
	h1 {
		font-size: 40pt;
		line-height: 40pt;
	}

	h2 {
		font-size: 20pt;
	}

	h3 {
		font-size: 14pt;
		line-height: 14pt;
	}
}

@media screen and (max-width: 1440px) {
	h1 {
		font-size: 34pt;
		line-height: 34pt;
	}

	h2 {
		font-size: 20pt;
	}

	h3 {
		font-size: 12pt;
		line-height: 12pt;
	}

	p,
	header #contact span,
	#skills .skill .name,
	#skills .skill .rating,
	#projects .project h3 {
		font-size: 10pt;
	}
}

@media screen and (max-width: 1024px) {
	h1 {
		font-size: 26pt;
		line-height: 26pt;
	}

	/* Mobile paddings */
	h2,
	header h1,
	header p {
		padding: 0;
	}

	header {
		padding: calc(100vw / 24);
	}

	h2 {
		font-size: 14pt;
		padding-bottom: calc(100vw / 24);
	}

	h3 {
		font-size: 10pt;
		line-height: 10pt;
	}

	/* Mobile nav */
	nav #logo {
		height: calc(100vw / 12);

		line-height: calc(100vw / 12);
		font-size: calc(100vw / 24);
		text-align: left;

		padding: 0 calc(100vw / 24);
	}

	/* Mobile header */
	header h1 {
		margin-bottom: calc(100vw / 12);
	}

	header p {
		margin-bottom: calc(100vw / 48);
	}

	header p:last-of-type {
		margin-bottom: calc(100vw / 12);
	}

	#contact {
		margin-bottom: calc(100vw / 24);
	}

	/* Mobile skills */
	#skills {
		padding: calc(100vw / 24) 0 0;
		background: black;
		color: white;
	}

	#skills h2 {
		padding-left: calc(100vw / 24);
	}

	#skills h3 {
		padding: calc(100vw / 24);
	}

	#skills .skill {
		height: calc(100vw / 12 * 2);
	}
	#skills .skill::after {
		content: "";

		width: 100%;
		height: 1px;
		position: absolute;
		top: 1px;
		right: 0;

		background: rgba(255, 255, 255, 0.1);
	}
	#skills .skill .name,
	#skills .skill .rating {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		opacity: 0.9;
	}
	#skills .skill .name {
		padding: 0 calc(100vw / 24);
	}
	#skills .skill .rating {
		width: auto;
		right: calc(100vw / 24);
	}

	/* Mobile projects */
	#projects {
		padding: calc(100vw / 24) 0 0;
	}

	#projects h2 {
		padding-left: calc(100vw / 24);
	}

	#projects .project {
		height: auto;
		margin-left: calc(100vw / 24);
		margin-right: calc(100vw / 24);
		margin-bottom: calc(100vw / 12);

		flex-direction: column;
	}
	#projects .project img {
		width: 100%;
	}
	#projects .project h3 {
		width: 100%;
		height: calc(100vw / 12);
		box-sizing: border-box;
		position: relative;
		top: auto;
		bottom: 0;
		left: 0;
		right: auto;
		transform: none;
		padding: 0 calc(100vw / 24);
		margin: 0;

		display: flex;
		align-items: center;
	}

	/* Mobile gallery */
	#gallery {
		padding: calc(100vw / 24);
	}
	#gallery .item {
		padding: 0;
		margin: 0;

		flex-direction: column;
	}
	#gallery .item .info {
		margin: 0;
	}
	#gallery .item a {
		margin-bottom: calc(100vw / 24);
	}
	#gallery .item h3 {
		margin-bottom: calc(100vw / 48);
	}
	#gallery .item img {
		width: 100%;
	}
	#gallery .item p {
		margin-bottom: calc(100vw / 12);
	}

	body {
		display: block;
	}

	/* Section lines */
	nav::before {
		display: none;
	}

	#skills::before,
	#skills::after,
	#gallery::before {
		content: "";

		width: 100%;
		height: 1px;
		min-height: auto;

		background: #e6e6e6;

		position: absolute;
		top: 0;
		left: 0;
	}
}
